<app-header (alerarTurma$)="solicitarTurma()"></app-header>
<div data-bs-parallax-bg="true"
  style="height:401px;background-image:url(&quot;assets/img/back.jpeg&quot;);background-position:bottom;background-size:contain;">
</div>
<div data-aos="fade-right" class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="intro">
          <h2 style="color:#226699;">Português</h2>
          <p>Você meu aluno, seja bem-vindo a área do saber: Português, neste ambiente para se aprender muito mais você
            assiste e tem acesso a vários materiais de língua portuguesa do ensino fundamental, para praticar e estudar
            em qualquer hora e lugar. Tudo vai se tornar mais fácil. Vem com a gente!</p><a
            class="btn btn-primary btn-sm" role="button" href="" style="background-color:rgb(34,102,153);">Acessar</a>
        </div>
      </div>
      <div class="col-sm-4"><img src="assets/img/Screenshot_4.png" style="width:297px;"></div>
    </div>
  </div>
</div>
<div data-aos="fade-left" class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><img src="assets/img/Screenshot_1.png" style="width:297px;"></div>
      <div class="col-md-8">
        <div class="intro">
          <h2 style="color:#08c479;">Ciências</h2>
          <p>Seja Bem-vindo a área do saber: Ciências. Muitos a amam, quem aí já pensou em ser um Cientista? Então vamos
            estudar juntos, se dedicar ao material e aprender muito mais. Aqui a ciência é trabalhada de forma simples,
            vem com a gente!</p><button class="btn btn-primary" type="button"
            style="background-color:rgb(8,196,121);">acessar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-aos="fade-right" class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="intro">
          <h2 style="color:#f4476b;">Matemática</h2>
          <p> Você meu aluno, seja bem-vindo a área do saber: Matemática, esta é conhecida por muitos e tem uma fama de
            difícil. Mas aqui você encontrará todo apoio para aprender com facilidade. Você pode acessar vários
            conteúdos e estudar mais em qualquer hora e lugar, para mostrar que essa matemática é boa Vem com a gente,
            vamos calcular!</p><a class="btn btn-primary btn-sm" role="button" href="pagina-curso.html"
            style="background-color:rgb(221,46,68);">Acessar</a>
        </div>
      </div>
      <div class="col-sm-4"><img src="assets/img/Screenshot_3.png" style="width:297px;"></div>
    </div>
  </div>
</div>
<div data-aos="fade-left" class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><img src="assets/img/Screenshot_5.png" style="width:297px;"></div>
      <div class="col-md-8">
        <div class="intro">
          <h2 style="color:#ffbd59;">História</h2>
          <p>Você meu aluno, seja bem-vindo a área do saber: História. Se você é curioso e gosta de descobrir novos
            fatos, esse é o melhor lugar, mas ta com dificuldade de aprender? Então vem estudar com a gente, pode
            acessar os materiais disponíveis e se dedicar! Vamos auxiliar você, entra nessa história de aprender!</p>
          <button class="btn btn-primary" type="button" style="background-color:#ffbd59;">acessar</button>
        </div>
      </div>
    </div>
  </div>
</div>