<app-header></app-header>
<div data-bs-parallax-bg="true"
  style="height:401px;background-image:url(&quot;assets/img/back.jpeg&quot;);background-position:bottom;background-size:contain;">
</div>
<div data-aos="fade-right" class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="intro">
          <h2 style="color:#226699;">Português</h2>
          <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut
            laoreet vitae. Aliqua sed justo ligula.</p><a class="btn btn-primary btn-sm" role="button" href=""
            style="background-color:rgb(34,102,153);">Acessar</a>
        </div>
      </div>
      <div class="col-sm-4"><img src="assets/img/Screenshot_4.png" style="width:297px;"></div>
    </div>
  </div>
</div>
<div data-aos="fade-left" class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><img src="assets/img/Screenshot_1.png" style="width:297px;"></div>
      <div class="col-md-8">
        <div class="intro">
          <h2 style="color:#08c479;">Ciências</h2>
          <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut
            laoreet vitae. Aliqua sed justo ligula.</p><button class="btn btn-primary" type="button"
            style="background-color:rgb(8,196,121);">acessar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-aos="fade-right" class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="intro">
          <h2 style="color:#f4476b;">Matemática</h2>
          <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut
            laoreet vitae. Aliqua sed justo ligula.</p><a class="btn btn-primary btn-sm" role="button"
            href="pagina-curso.html" style="background-color:rgb(221,46,68);">Acessar</a>
        </div>
      </div>
      <div class="col-sm-4"><img src="assets/img/Screenshot_3.png" style="width:297px;"></div>
    </div>
  </div>
</div>
<div data-aos="fade-left" class="highlight-phone">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"><img src="assets/img/Screenshot_5.png" style="width:297px;"></div>
      <div class="col-md-8">
        <div class="intro">
          <h2 style="color:#ffbd59;">História</h2>
          <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut
            laoreet vitae. Aliqua sed justo ligula.</p><button class="btn btn-primary" type="button"
            style="background-color:#ffbd59;">acessar</button>
        </div>
      </div>
    </div>
  </div>
</div>