<div class="container">
  <div class="row row-adm" data-aos="fade-up">
    <div class="col-12">
      <div class="jumbotron" [style.background-color]="color" style="color: #fff">
        <div class="row">
          <div class="col">
            <h1>{{titulo}}</h1>
            <p>{{descricao}}</p>
          </div>
          <div class="col-2 d-inline float-right d-flex justify-content-end align-content-end align-self-end order-1">
            <button (click)="adicionar()" class="btn btn-light" type="button" data-aos="fade-up" data-aos-delay="200"
              style="margin-bottom:5px;">Adicionar&nbsp;<i class="fa fa-plus-square"></i></button></div>
        </div>
        <div class="row">
          <div class="col">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>